@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}
body {
    height: 100%;
    background: url(../img/ayudanteback.jpg) no-repeat center top;
    background-size: cover;    
    font-size: 13px;
    font-family: montserrat, arial, verdana;
}

body h2{
    margin: 0;
    padding: 0 0 20px;
    margin-top: 50px;
    text-align: center;
    font-size: 22px;
    font-family: montserrat;
    display: block;
    color: white;
}

.title-box{
    background: linear-gradient(white, rgb(119, 116, 116));;
	border: 0 none;
	border-radius: 10px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 5px 15px;
	box-sizing: border-box;
	width: 60%;
    left: 20%;
    margin-top: 20px;
    position: absolute;
    color: black;
}


.button-box{
    left: 40%;
    top: 25%;
    position: absolute;
    color: transparent;
}
.button-box .button1{
    margin: 0;
    padding: 0;
    width: 300px;
    height: 40px;
    background: linear-gradient(white, rgb(119, 116, 116));
    outline-color: blue;
	font-weight: bold;
	color: black;
	border: 0 none;
	border-radius: 20px;
	cursor: pointer;
	margin-bottom: 30px;
    font-size: 16px;
    font-family: montserrat;
    
}
.button-box .button1:hover, .button1:focus {
	box-shadow: 1px 1px 1px 1px white, 1.5px 1.5px 1.5px 1.5px rgb(0, 102, 255);
}

.button-box .button2 {
    width: 300px;
    height: 40px;
    background: linear-gradient(white, rgb(119, 116, 116));
    outline-color: blue;
	font-weight: bold;
	color: black;
	border: 0 none;
	border-radius: 20px;
	cursor: pointer;
	padding: 10px 5px;
    margin: 10px 5px;
    font-size: 16px;
    font-family: montserrat;
}
.button-box .button2:hover, .button2:focus {
	box-shadow: 1px 1px 1px 1px white, 1.5px 1.5px 1.5px 1.5px rgb(0, 102, 255);
}
.button-box .button3 {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 40px;
    background: linear-gradient(white, rgb(119, 116, 116));
    outline-color: blue;
	font-weight: bold;
	color: black;
	border: 0 none;
	border-radius: 20px;
	cursor: pointer;
	margin-top: 20px;
    font-size: 16px;
    font-family: montserrat;   
}
.button-box .button3:hover, .button3:focus {
	box-shadow: 1px 1px 1px 1px white, 1.5px 1.5px 1.5px 1.5px rgb(0, 102, 255);
}