body {
    margin: 0px;
    padding: 0px;
    background: url(../img/fondo.jpeg) no-repeat center top;
    /*background: linear-gradient(rgba(101, 87, 223, 0.774), rgba(24, 19, 70, 0.774),rgba(101, 87, 223, 0.774));*/
    background-size: cover;    
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    
}
.header {
    background-color: #48CFAD;
    box-shadow: 0px 0px 8px 0px #535353;
    width: 100%;
    height: 10px;
}
.header h1 {
    margin: 0px;
    font-size: 8px;
    color: #23282D;
    margin-left: 10px;
    margin-top: 2px;
}
.login-box {
    width: 320px;
    height: 440px;
    border-radius: 5px;
    /*background: black;*/
    background: linear-gradient(rgb(0, 0, 0), rgba(78, 78, 78, 0.836));
    color: blanchedalmond;
    top: 45%;
    left: 85%;
    border-color: red;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 2px 2px 1px 1px rgba(255, 0, 0, 0.425);
    padding: 70px 30px;
}

.login-box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50%-50px);
}

.login-box h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-family: Helvetica;
    display: block;
}

.login-box label{
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: helvetica;
    display: block;
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"], 
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid red;
    background: transparent;
    outline: none;
    height: 35px;
    color: cornsilk;
    font-size: 16px;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(241, 8, 8);
    color: white;
    font-size: 18px;
    border-radius: 10px;
}
.login-box input[type="button"] {
    border: none;
    outline: none;
    height: 32px;
    background: rgb(241, 8, 8);
    color: white;
    font-size: 16px;
    border-radius: 10px;
}

.login-box input[type="submit"]:hover{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(241, 8, 8);
    color: white;
    font-size: 19px;
    border-radius: 10px;
    cursor: pointer;
}

.login-box input[type="button"]:hover {
    border: none;
    outline: none;
    height: 32px;
    background: rgb(241, 8, 8);
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.login-box a:hover{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: white;
}

.canvas-box {
    width: 35%;
    height: 40%;
    position: absolute;
    top: 20px;
    left: 16px;
    background: rgba(255, 255, 255, 0.753);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.canvas-box1 {
    width: 35%;
    height: 40%;
    position: absolute;
    top: 290px;
    left: 16px;
    background: rgba(255, 255, 255, 0.753);
    
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.canvas-box2 {
    width: 35%;
    height: 40%;
    position: absolute;
    top: 20px;
    left: 505px;
    background: rgba(255, 255, 255, 0.753);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.canvas-box3 {
    width: 35%;
    height: 40%;
    position: absolute;
    top: 290px;
    left: 505px;
    background: rgba(255, 255, 255, 0.753); 
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}





